[submodule "poky"]
	path = software/poky
	url = git://git.yoctoproject.org/poky.git
[submodule "docker/pipework"]
	path = software/docker/pipework
	url = https://github.com/jpetazzo/pipework.git
[submodule "docker/pxe"]
	path = software/docker/pxe
	url = https://github.com/jpetazzo/pxe.git
[submodule "software/u-boot"]
	path = software/u-boot
	url = git://git.denx.de/u-boot.git
[submodule "software/metrics/freeboard"]
	path = software/metrics/freeboard
	url = https://github.com/Freeboard/freeboard.git
